h1 {
  padding: 0px;
}

h2, h3, h4  {
  color: blue;
}
.auto {
  color: red;

}

.foo {
  .bar {
    .baz {
      .ouff {
        .wow {
          color: red;
        }
      }
    }
  }
}

.header {
  @extend whatever;
}
