@import "whatever";
@import "whatever";

body {
  padding: .5rem;
}

h1 {
  padding: 0.5rem 1rem 1rem 1rem;
}

.selector-1,
.selector-2 {
  color: red;
}

@mixin blue($a) {
  @if $a {
    color: red;
  } @else {
    color: blue;
  }
}

@value colors: './colors.css';
@value primary, secondary from colors;

.base {
  content: 'base';
  color: primary;
}

.composed {
  composes: base;
}

.flexible {
  composes: flex from './utils.css';
  flex-direction: column;
}

:global(.js) .progressive {
  display: block;
}
